@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

.en-tete {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left-side {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 3.125rem;
    color: rgb(255, 181, 120);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.125rem;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 17px;
    margin-left: 15px;
}