  :host {
      --bright-blue: oklch(51.01% 0.274 263.83);
      --electric-violet: oklch(53.18% 0.28 296.97);
      --french-violet: oklch(47.66% 0.246 305.88);
      --vivid-pink: oklch(69.02% 0.277 332.77);
      --hot-red: oklch(61.42% 0.238 15.34);
      --orange-red: oklch(63.32% 0.24 31.68);

      --electric-green: oklch(86.795% 0.29272 142.128);
      --black-green: oklch(43.34% 0.14363 143.316);
      --orange-yellow: oklch(90.222% 0.18773 101.204);

      --gray-900: oklch(19.37% 0.006 300.98);
      --gray-700: oklch(36.98% 0.014 302.71);
      --gray-400: oklch(70.9% 0.015 304.04);

      --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
              var(--orange-red) 0%,
              var(--vivid-pink) 50%,
              var(--electric-violet) 100%);

      --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
              var(--orange-red) 0%,
              var(--vivid-pink) 50%,
              var(--electric-violet) 100%);

      --blackgreen-to-orange-to-electric-horizontal-gradient: linear-gradient(90deg,
              var(--electric-green) 0%,
              var(--black-green) 50%,
              var(--electric-green) 100%);

      --blackgreen-to-orange-to-electric-vertical-gradient: linear-gradient(180deg,
              var(--black-green) 50%,
              var(--electric-green) 100%);

      --pill-accent: var(--bright-blue);

      font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  h1 {
      font-size: 3.125rem;
      color: var(--gray-900);
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.125rem;
      margin: 0;
      font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
  }

  p {
      margin: 0;
      color: var(--gray-700);
  }

  main {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 100%;
      margin: auto;
      flex-direction: column;

  }

  body {
      width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-sizing: inherit;
      position: relative;
  }

  .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 100%;
      margin-bottom: 3rem;
      flex-direction: column;
  }

  .content h1 {
      margin-top: 1.75rem;
  }

  .content p {
      margin-top: 1.5rem;
  }

  .menu {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      height: 40px;
  }



  nav a {
      width: 7.5rem;
      border-right: 2px solid var(--black-green);
      border-left: 2px solid var(--black-green);
      border-bottom: 2px solid var(--black-green);
      font-size: 1rem;
      color: var(--gray-900);
      font-weight: 380;
  }

  .observations {
      width: 7.5rem;
      border-right: 2px solid var(--black-green);
      border-left: 2px solid var(--black-green);
      border-bottom: 2px solid var(--black-green);
      font-size: 1rem;
      color: var(--gray-900);
      font-weight: 380;
  }

  .enregistrement {
      width: 7.5rem;
      border-right: 2px solid var(--black-green);
      border-left: 2px solid var(--black-green);
      border-bottom: 2px solid var(--black-green);
      font-size: 1rem;
      color: var(--gray-900);
      font-weight: 380;
  }

  .social-links {
      display: flex;
      align-items: center;
      gap: 0.73rem;
      margin-top: 1.5rem;
  }

  .social-links path {
      transition: fill 0.3s ease;
      fill: var(--gray-400);
  }

  .social-links a:hover svg path {
      fill: var(--gray-900);
  }


  .EnBas {
      background-color: burlywood;
  }

  app-en-tete {
      width: 80%;
  }

  app-list-bird {
      width: 60%;
  }